.e9-poll{:"data-votes" => poll.votes}
  - if poll.options.header_text.present?
    .poll-header
      = poll.options.header_text

  .poll-question
    = poll.question
    
  .poll-answers
    = render(:partial => 'e9_polls/polls/results_inner', :locals => { :poll => poll })
